---
layout: default
category: Book
---

<div class="home">

  <div class="posts">
    {% for post in site.categories[page.category] %}
      <div class="post py3">
        <p class="post-meta">
          {{ post.date | date: site.date_format }}
        </p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <h3 class="h1 post-title">{{ post.title }}</h3>
        </a>
        {% if post.thumbnail_type == 'youtube' %}
        <p><iframe width="100%" height="300" src="https://www.youtube.com/embed/{{ post.thumbnail }}" frameborder="0" allowfullscreen=""></iframe></p>
        {% elsif post.thumbnail_type == 'soundcloud' %}
        <p><iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ post.thumbnail }}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe></p>
        {% elsif post.thumbnail_type == 'image_local' %}
        <p class="post-thumbanil-wrapper">
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
            <img class="post-thumbnail" src="/images/{{ post.thumbnail }}" />
          </a>
        </p>
        {% endif %}
        <p class="post-summary">
          {% if post.summary %}
            {{ post.summary }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
        </p>
        <p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
            더 읽기...
          </a>
        </p>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>